<% include ../partials/header %>
<!--<div class="container">-->
    <div class="row">
        <div class="col-md-3">
          <!-- <p class="lead">Food Trucks!</p>
              <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
              </div>
              <div id="map">Map Goes Here</div>
        </div>             -->
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= truck.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= truck.owner %></h4>
                    <h4><a><%= truck.name %></a></h4>
                    <p><%= truck.description %></p>
                    <p>
                        <em>Submitted By <%= truck.owner.username %></em>
                    </p>
                    <% if(currentUser && truck.owner.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/trucks/<%= truck._id %>/edit">Edit</a>
                        <form class="delete-form" action="/trucks/<%= truck._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>

        </div>
    </div>
<!--</div>-->

<script>
  function initMap() {
    var lat = <%= truck.lat %>;
    var lng = <%= truck.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= truck.name %><br />
      <%= truck.location %></strong>
      <p><%= truck.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNqzyKqM09Z8ribX3nYa07pls2wnLSQLw&callback=initMap"></script>

<% include ../partials/footer %>
